APP_PORT=8000
HOST_UID=1000
HOST_GID=1000
ARDUINO_DEVICE=/dev/ttyUSB0
IMAGE_NAME=ghcr.io/isqqka15/camera_project:main
FINE_AMOUNT=50.00
SERIAL_BAUD_RATE=115200
SERIAL_REQUIRED=false
FACE_MATCH_THRESHOLD=0.6
EXIT_DEBOUNCE_SECONDS=15